:root {
  --primary: #f6a979;
  --secondary: #7bc8f4;
  --accent: #bea6dd;

  --foreground-9: #f7f7f7;
  --foreground-10: #f5f5f5;
  --foreground-11: #c4c4c4;

  --background-9: #2d2e32;
  --background-10: #1c1d21;
  --background-11: #1a1b1f;

  --success: #c4e1a3;
  --failure: #ff9b85;
  --warning: #ffdf99;
  --info: #a3c5e1;
}

body {
  background-color: var(--background-10);
  background-image: url("./noise.png");
  color: var(--foreground-10);
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  color: unset;
  text-decoration: unset;
}
