:root {
    --primary: hsla(23, 87%, 72%, 1);
    --secondary: hsla(202, 85%, 72%, 1);
    --accent: hsla(266, 45%, 76%, 1);
    --black: hsla(240, 7%, 8%, 1);
    --white: hsla(0, 8%, 97%, 1);
    --offwhite: hsl(173, 7%, 74%);
    --background: hsla(228, 8%, 12%, 1);
    --neutral: hsla(230, 7%, 16%, 1);
    --info: hsla(187, 51%, 76%, 1);
    --success: hsla(129, 51%, 84%, 1);
    --warning: hsla(51, 100%, 85%, 1);
    --error: hsla(354, 47%, 80%, 1);
    --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
}

/* #region: Fonts */

.josefin-sans-title {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.josefin-sans-regular {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-semilight {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.josefin-sans-light {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* #endregion */

/* #region: Utils */

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.color-accent {
    color: var(--accent);
}

.color-offwhite {
    color: var(--offwhite);
}

.flip-v {
    transform: scaleX(-1);
}

.color-primary-gradient {
    background:
        linear-gradient(to right,
            var(--primary),
            var(--accent),
            var(--secondary));
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}

.button-primary {
    padding: 1rem;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 8px;
    color: var(--background);
    cursor: pointer;
    text-align: center;
    transition: transform 0.6s var(--easeOutExpo);
}

.button-primary:hover {
    transform: scale(1.05);
}

.button-secondary-ghost {
    padding: 1rem;
    background-color: unset;
    border: 2px solid var(--neutral);
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    transition: color 0.6s var(--easeOutExpo);
}

.button-secondary-ghost:hover {
    color: var(--secondary);
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* #endregion: Utils */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--white);
    display: flex;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--neutral);
}

.header-title {
    cursor: pointer;
    font-size: 2rem;
}

.header-nav {
    display: flex;
    gap: 1rem;
}

.header-button {
    cursor: pointer;
    border-radius: 8px;
    padding: 1rem;
}

.header-login {
    background-color: var(--primary);
    border: 2px solid var(--neutral);
    color: var(--background);
    text-align: center;
    min-width: 4rem;
}

.header-register {
    display: none;
}

@media screen and (min-width: 768px) {
    #root {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-login {
        background-color: initial;
        border: 2px solid unset;
        color: var(--white);
        transition: color 0.6s var(--easeOutExpo);
    }

    .header-login:hover {
        color: var(--secondary);
    }

    .header-register {
        display: initial;
        background-color: var(--primary);
        border: 2px solid var(--primary);
        color: var(--background);
        transition: transform 0.6s var(--easeOutExpo);
    }

    .header-register:hover {
        transform: scale(1.05);
    }
}

.content-wrapper {
    flex-grow: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* #region Footer.re */

.layout-footer {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid var(--neutral);
    gap: 2rem;
}

.footer-section {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .layout-footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer-section {
        width: fit-content;
    }
}

@media screen and (min-width: 768px) {
    .layout-footer {
        display: flex;
        flex-direction: row;
    }
}

.footer-link {
    color: var(--offwhite);
    text-decoration: none;
    transition: color 0.6s var(--easeOutExpo);
}

.footer-link:hover {
    color: var(--secondary);
}

/* #endregion */

/* #region Index.re */

.index-content {
    display: flex;
    flex-direction: column;
}

.index-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--neutral);
}

.index-banner-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 0 100%;
}

.index-banner-header > h2,
.index-banner-header > p {
    margin: 0;
    text-align: center;
}

.index-banner-header-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .index-banner-header {
        flex: 0 1 auto;
    }

    .index-banner-header > h2 {
        font-size: 3.25rem;
        line-height: 1.5;
    }

    .index-banner-header > p {
        font-size: 1.25rem;
    }

    .index-banner-header > h2,
    .index-banner-header > p {
        text-align: left;
    }

    .index-banner-header-actions {
        margin-top: 1rem;
        justify-content: left;
    }
}

@media screen and (min-width: 1024px) {
    .index-banner {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.index-banner-graphic {
    display: flex;
    align-items: center;
    font-size: 6rem;
}

.index-banner-graphic > svg:nth-child(1) {
    margin-bottom: 4rem;
}

.index-banner-graphic > svg:nth-child(2) {
    margin-top: 4rem;
}

@media screen and (min-width: 768px) {
    .index-banner-graphic {
        flex:  0 0;
    }
}

.index-cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-top: 4rem;
    gap: 2rem;
}

.feature-card {
    padding: 2rem;
    background-color: var(--neutral);
    border-radius: 8px;
    display: flex;
    gap: 2rem;
}

.feature-card-article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-card-article > p {
    margin: 0;
}

.feature-card > svg {
    flex-shrink: 0;
}

@media screen and (min-width: 640px) {
    .feature-card {
        max-width: 50%;
    }

    .index-cards > .feature-card:nth-child(2) {
        justify-self: end;
    }
}

@media screen and (min-width: 768px) {
    .index-cards {
        grid-template-columns: auto auto;
    }

    .feature-card {
        max-width: 410px;
    }

    .index-cards > .feature-card:nth-child(3) {
        justify-self: center;
        grid-column: span 2;
    }
}

@media screen and (min-width: 1280px) {
    .index-cards {
        grid-template-columns: auto auto auto;
    }

    .feature-card {
        max-width: 20rem;
    }

    .index-cards > .feature-card:nth-child(2) {
        justify-self: initial;
    }

    .index-cards > .feature-card:nth-child(3) {
        justify-self: center;
        grid-column: initial;
    }
}

/* #endregion */
